<div th:fragment="tags">
    <div class="container">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-sm"><a class="text-warning" th:href="@{'/photoByArea/Lake/'}">Lake</a></button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-sm"><a class="text-warning" th:href="@{'/photoByArea/Sharon Woods/'}">Sharon Woods</a></button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-sm"><a class="text-warning" th:href="@{'/photoByArea/Downtown/'}">Downtown</a></button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-sm"><a class="text-warning" th:href="@{'/photoByArea/Eden Park/'}">Eden Park</a></button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-sm"><a class="text-warning" th:href="@{'/photoByArea/UC/'}">UC</a></button>
            </div>
        </div>
    </div>
</div>
<div th:fragment="breadcrumbs">
    <nav aria-label="breadcrumb"> <!-- This section is merely a placeholder for now, will be expanded and made more responsive -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"  aria-current="page">United States</li>
            <li class="breadcrumb-item" aria-current="page">Ohio</li>
            <li class="breadcrumb-item active" aria-current="page">Cincinnati</li>
        </ol>
    </nav>
</div>