<div th:fragment="uploadmodal">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload an Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <form action="#" th:action="@{/upload}" th:object="${photodto}" enctype="multipart/form-data" method="POST" class="dropzone">
                            <p class="h3">Photo Information</p>
                            <div class="row-12">
                                <div class="input-group input-group-sm mb-3 col-12">
                                    <div class="input-group mb-3 row-12">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="tags">Tags:</span>
                                        </div>
                                        <input type="text" class="form-control" name="tags" field="*{tags}"/>
                                    </div> <br>
                                    <div class="input-group mb-3 row-12">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="type">Type:</span>
                                        </div>
                                        <input type="text" class="form-control" name="type" field="*{type}"/>
                                    </div> <br>
                                </div>
                            </div>
                            <div th:object="${locationdto}" >
                                <p class="h3">Location Information</p>
                                <div class="row-12">
                                    <div class="input-group input-group-sm mb-3 col-12">
                                        <div class="input-group mb-3 row-12">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="longitude">Longitude:</span>
                                            </div>
                                            <input type="text" class="form-control" name="longitude" field="*{longitude}"/>
                                        </div> <br>
                                        <div class="input-group mb-3 row-12">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="latitude">Latitude:</span>
                                            </div>
                                            <input type="text" class="form-control" name="latitude" field="*{latitude}"/>
                                        </div><br>
                                        <div class="input-group mb-3 row-12">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="state">State:</span>
                                            </div>
                                            <input type="text" class="form-control" name="state" field="*{state}"/>
                                        </div> <br>
                                        <div class="input-group mb-3 row-12">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="city">City:</span>
                                            </div>
                                            <input type="text" class="form-control" name="city" field="*{city}"/>
                                        </div><br>
                                        <div class="input-group mb-3 row-12">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="area">Area:</span>
                                            </div>
                                            <input type="text" class="form-control" name="area" field="*{area}"/>
                                        </div><br>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                                <button name="submit" type="submit" value="0" id='uploadfiles'>Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>