<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PhotoLocos | Cincinnati</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Bootstrap CSS Used for Image Grid -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css/">

    <!-- Bootstrap JS Scripts -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Bootstrap JS Scripts -->
</head>
<body class="bg-light">
    <!-- Main Nav Bar -->
    <div th:replace="fragments/topnav :: navbar">
    </div>
    <!-- Breadcrumbs Section -->
    <nav aria-label="breadcrumb"> <!-- This section is merely a placeholder for now, will be expanded and made more responsive -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"  aria-current="page">United States</li>
            <li class="breadcrumb-item" aria-current="page">Ohio</li>
            <li class="breadcrumb-item active" aria-current="page">Cincinnati</li>
        </ol>
    </nav>
    <!-- Breadcrumbs Section -->
    <!-- Tags Section -->
    <div class="container">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-sm">Cleveland</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-sm">Akron</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-sm">Columbus</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-sm">Indianapolis</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-sm">Lexington</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-sm">Louisville</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-sm">Oxford</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-sm">Portsmouth</button>
            </div>
        </div>
    </div>
    <!-- Tags Section -->
    <!-- Header for Image Grid -->
    <br>
    <div class="container-fluid bg-transparent">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center display-4">Cincinnati</h1>
            </div>
        </div>
    </div>
    <!-- Image Grid Section -->
    <div class="container-fluid"> <!-- These pictures are merely placeholders and are used to demonstrate the image grid
                                     and how it'll look, they will be replaced with pictures from the DB -->
        <!-- All these pictures were obtained from "https://pixabay.com" and are free to use under the Pixabay license -->
        <div class="grid-row">
            <div class="grid-column">
                <img th:src="@{/images/PeteRoseStatue.webp}" alt="Pete Rose Statue">
                <img th:src="@{images/CincinnatiSkyline.webp}" alt="Cincinnati Skyline">
                <img th:src="@{images/RoeblingBridge.webp}" alt="Roebling Bridge">
                <img th:src="@{images/GABP.webp}" alt="Great American Ballpark">
            </div>
            <div class="grid-column">
                <img th:src="@{images/DowntownCincinnati.webp}" alt="Downtown Cincinnati">
                <img th:src="@{images/FieldArtilleryMemorial.jpg}" alt="Field Artillery Memorial">
                <img th:src="@{images/BaseballSculptures.webp}" alt="Baseball Sculptures">
            </div>
            <div class="grid-column">
                <img th:src="@{images/BonoboCinciZoo.webp}" alt="Bonobo Hanging from Tree">
                <img th:src="@{images/RiverfrontRoadSign.webp}" alt="Road Sign that says 'Riverfront - Keep Left'">
                <img th:src="@{images/NipertStadium.webp}" alt="Nipert Stadium">
                <img th:src="@{images/WestSideTrainYard.webp}" alt="Train Yard">
            </div>
        </div>
    </div>
    <!-- Image Grid Section -->
</body>
</html>