.row1{
    height: 100px;
    background-color: #1bf2bf;
    position: relative;

}
.row2{
    height: 200px;

}
.row3{
    height: 200px;

}

.search{

    position: absolute;
    bottom: 0;
    right: 0;
}

#title{
    position: absolute;
    bottom: 0;
    font-weight: bold;
    font-size: 30px;
    opacity: 25%;
}
